<h1>Sorting Satates for Hacker News</h1>
<h4>Deep Local Interview Challenge for HSDouglas</h3>
<p>Sort news via:<ul>
	<li><%= link_to "number of comments", sort_comments_path %></li>
	<li><%= link_to "domain name", sort_domain_path %></li>
	<li>headline length (incomplete)</li>
</ul></p>

