<h1>Sorting Satates for Hacker News</h1>
<h4>Deep Local Interview Challenge for HSDouglas</h3>
<p>Sort news via:<ul>
	<li><%= link_to "number of comments", comments_path %></li>
	<li><%= link_to "domain name", domain_path %></li>
	<li><%= link_to "headline lenth", headline_path %></li>
</ul></p>

